TRON_NETWORK=nile
TRON_FULL_HOST=https://nile.trongrid.io
TRON_LOTTERY_ADDRESS=
TRONGRID_API_KEY=
AUTOMATION_EXECUTE=false
TRON_AUTOMATION_PRIVATE_KEY=
AUTOMATION_MIN_TRX=20
AUTOMATION_FEE_LIMIT_SUN=150000000
